<ul class="nav-menu__list">
  {{#each routes as |route|}}
    {{#link-to route.link tagName="li" class="nav-menu__item"}}
      <div class="nav-menu__title">{{route.title}}</div>
    {{/link-to}}
  {{/each}}
</ul>
