<div class="slider-container">
  <div class="slider-control left inactive"></div>
  <div class="slider-control right"></div>
  <ul class="slider-pagi"></ul>
  <div class="slider">
    {{#each model as |slider|}}
      <div class="slide">
        <div class="slide__content">
          <div class="slide__img">
            <img src="{{slider.img}}" alt="" class="slide__img-pic">
          </div>
          <div class="slide__text">
            <div class="slide__text-wrap">
              <h2 class="slide__text-heading">Why <span>Skynix</span></h2>
              <p class="slide__text-desc">{{slider.description}}</p>
              <div class="slide__text-subtitle">{{slider.title}}</div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>