<div class="container">
  <div class="slider">
    <div class="slider__list">
      {{#each slider as |slider|}}
        <div class="slider__item">
          <div class="slider-item__wrap">
            <div class="slider-image">
              <img src="{{slider.img}}" alt="" class="slider__img">
            </div>
            <div class="slider-title">
              <h2 class="slider-title__title">
                Why <span>Skynix</span>
              </h2>
              <p class="slider-title__desc">
                {{slider.description}}
              </p>
              <div class="slider-title__subtitle">{{slider.title}}</div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
      <a href="#" class="slider__pager slider__pager_previous"></a>
      <a href="#" class="slider__pager slider__pager_next"></a>
      <ul class="slider__pagination">
        <li class="slider__pagination-item slider__pagination-item_tmpl"><a href="#" data-slider__item="0" class="active slider__pagination-link"></a></li>
        <li class="slider__pagination-item slider__pagination-item_tmpl"><a href="#" data-slider__item="1" class="slider__pagination-link"></a></li>
        <li class="slider__pagination-item slider__pagination-item_tmpl"><a href="#" data-slider__item="2" class="slider__pagination-link"></a></li>
      </ul>
  </div>
</div>