<div class="container">
  <div class="slider">
    <div class="slider__list">
      {{#each model.slider as |slider|}}
        <div class="slider__item">
          <img src="{{slider.img}}" alt="" class="slider__img">
          <div class="slider-title">
            <div class="slider-title__title">
              Why <span>Skynix</span>
            </div>
            <div class="slider-title__desc">
              {{slider.description}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="slider__navigation">
      <a href="#" class="slider__pager slider__pager_previous">left</a>
      <a href="#" class="slider__pager slider__pager_next">right</a>
    </div>
  </div>
</div>