<div class="item-list">
  {{#each model as |item|}}
    <div class="item">
      <div class="item__img">
        <img src="{{item.img}}" alt="" class="item__img-pic">
      </div>
      <div class="item-title">
        {{item.title}}
      </div>

      <ul class="item__desc">
        {{#each item.desc as |text|}}
          <li class="item__desc-text"><span>&bull;&nbsp;</span>{{text}}</li>
        {{/each}}
      </ul>
      <a href="#" class="item-link">{{item.link}}</a>
    </div>
  {{/each}}
</div>
