<div class="container">
  <div class="section-2__title">{{model.description}}</div>
  <div class="solution__list">
    {{#each model.solution as |solution|}}
      <div class="solution__item">
        <div class="solution-img__img">
          <img src="{{solution.img}}" alt="" class="solution-img__pic">
        </div>
        <div class="solution__title">
          {{solution.title}}
        </div>
        <ul class="solution__builds">
          {{#each solution.desc as |build|}}
            <li class="builds__item">{{build.description}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</div>