<div class="item-list">
  {{#each model as |item|}}
    <div class="item">
      <div class="item-img">
        <img src="{{item.img}}" alt="" class="item-pic">
      </div>
      <div class="item-title">
        <div class="item-text"> {{item.title}}</div>
      </div>
      <div class="desc-wrap">
        <ul class="item-desc">
          {{#each item.desc as |text|}}
            <li class="item-text"><span>&bull;&nbsp;</span>{{text}}</li>
          {{/each}}
        </ul>
        <a href="#" class="item-link">{{item.link}}</a>
      </div>
    </div>
  {{/each}}
</div>
