.sass-cache
.idea
vendor
.DS_Store
web/pma
modules/api/codeception.yml
modules/api/codeception.yml.bak
modules/coreApi/codeception.yml
modules/api/tests/config/config.php
modules/coreApi/tests/config/config.php
