.sass-cache
.idea
vendor
.DS_Store
web/pma
modules/api/codeception.yml
modules/api/codeception.yml.bak
modules/api/tests/acceptance.suite.yml
modules/api/tests/functional.suite.yml
modules/coreApi/codeception.yml
