@import "fonts"
*
  padding: 0
  margin: 0
  box-sizing: border-box

@mixin desktop
  @media (max-width: 1280px)
    @content


@mixin laptop
  @media (max-width: 992px)
    @content



@mixin tablets
  @media (max-width: 768px)
    @content


@mixin phones
  @media (max-width: 544px)
    @content


@mixin clearfix
  &:after
    content: ""
    display: table
    clear: both

@mixin centerCenter
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)

body
  min-width: 320px
  font-family: "Roboto-Regular", sans-serif
  font-size: 16px
  line-height: 1.6
  color: #615f5f

img
  max-width: 100%
  max-height: 100%

.app
  width: 100%
  height: 100%
  margin: auto

.container
  max-width: 1654px
  width: 100%
  height: 100%
  padding: 0 10px
  margin: auto


.content-center
  @include centerCenter

.opacity
  opacity: 0
  transition: opacity .2s linear

@import "component/header-component"
@import "component/nav-component"
@import "component/socials-component"
@import "routes/index/section-header"
@import "routes/index/section-software-solution"
@import "routes/index/section-why-skynix"
@import "component/software-solution-component"
@import "component/slider-touch-component"
@import "component/enhancement-component"
@import "routes/index/section-business-solutions"
@import "routes/index/section-testimonials"
@import "component/slider-touch-component2"




