.nav-component {
  height: 100%;
  float: left;

  .nav-menu__list {
    display: block;
    height: 100%;
    padding-right: 23px;
  }
  .nav-menu__item {
    display: inline-block;
    height: 100%;
    list-style: none;
    position: relative;
    width: 140px;
    cursor: pointer;
    transition: background .3s linear;

    &.active {
      background: #51cbff;
    }
  }
  .nav-menu__title {
    font-family: "Roboto-Light";
    font-size: 19px;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 100%;
    text-decoration: none;
    top: 50%;
    transform: translateY(-50%);
  }
  .nav-menu__title_color{
    color: #615F5F;
  }
}



