.slider-touch-component
  width: 100%
  .slider
    position: relative
    overflow: hidden

  .slider-image
    float: left
    width: 50%

  .slider__img
    height: 100%
    max-width: 100%

  .slider__list
    white-space: nowrap
    transition: margin .5s ease-out

  .slider-title
    float: left
    width: 50%
    overflow: hidden
    white-space: initial
    background: #ccc
    text-align: center

  .slider-title__title
    font-family: "Roboto-Thin"
    font-size: 72px
    color: #fff
    span
      font-family: "Roboto-Medium"
      font-size: 72px
      color: #fff


  .slider-title__desc
    font-family: "Roboto-Light"
    font-size: 18px
    color: #fff

  .slider__item
    display: inline-block
    max-width: 1634px

  .swiperight
    background: #000




