.slider-touch-component {
  width: 100%;
  .slider{
    position: relative;
    overflow: hidden;
  }

  .slider__img{
    float: left;
    width: 50%;
  }
  .slider__list{
   white-space: nowrap;
    transition: margin .5s ease-out;
  }
  .slider-title{
    float: left;
    width: 50%;
    overflow: hidden;
    white-space: initial;
  }
  .slider__item {
    display: inline-block;
    max-width: 1634px;
  }

}
