.software-solution-component{
  background: #ccc;
  width: 100%;
  .solution__list{
    padding: 0 27px;
    @include clearfix;
  }
  .solution-img__img{
    height: 116px;
    position: relative;
    width: 100%;
  }
  .solution-img__pic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .solution__title{
    text-align: center;
  }
  .solution__item{
    float: left;
    width: 16.6%;
  }
  .solution__builds{
    list-style-type: none;
    padding: 0 9px 0px 30px;
    font-size: 15px;
  }
}
