
.career{

    h2{
        margin: 6px 0 0 0;
        padding: 22px 0 0 0;
        border-top: 1px solid @color-blue-light1;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        color: #9fcae5;
    }
    h3{
        margin: 20px 0 37px 0;
        font-size: 17px;
        font-family: 'Raleway-Bold', sans-serif;
        text-transform: uppercase;
        text-align: left;
        color: @color-black;
        position: relative;

    }
    p{
        font-family: 'Raleway-Regular', sans-serif;
        font-size: 16px;
        color: @color-black;
    }
    .apply{
        width: 100%;
        color: @color-black;
    }

    .right-panel,
    .left-panel{
        margin: 21px 0 0 0;
        >div{
            padding: 15px 27px;
        }
        >div,
        article{
            margin: 12px 0;
            border: 1px solid @color-blue-light1;
        }

        ul{
            padding: 0 0 0 18px;
        }
        li{
            font-size: 16px;
            font-family: 'Raleway-Regular', sans-serif;
            color: @color-black;
        }
    }

    .left-panel{

        position: relative;

        article{

            height: 225px;
            padding: 15px  27px 65px  27px;
            position: relative;
            overflow: hidden;



            .read-more,
            .shadow-bottom{
                display: block;
            }

            .read-more{
                width: 50%;
                left: 25%;
                border: 1px solid #F7660C;
                border-radius: 0;
                background: #ffffff;
                position: absolute;
                bottom: 10px;
                font-family: 'Raleway-Medium', sans-serif;
                font-size: 20px;
                color: #F7660C;
                z-index: 100;

                &:hover{
                    background: rgb(255, 250, 246);
                }
                &:active{
                    webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.125);
                    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.125);
                }

            }
            .shadow-bottom{
                width: 100%;
                height: 61px;
                margin: 0 0 0 -27px;
                position: absolute;
                bottom: 0;
                z-index: 90;
                background-image: linear-gradient(to bottom, rgba(255,255,255,0.6), white);
                background-image: -webkit-linear-gradient(to, rgba(255,255,255,0.6), white);
            }


            &.show-text{
                height: 100%;
                padding: 15px 27px;

                .read-more,
                .shadow-bottom{
                    display: none;
                }
            }
        }
    }

    .popup-box{
        position: static;
        display: none;
    }




    .popup-career{
        width: 90%;
        padding: 30px 15px;
        margin: 0;
        position: absolute;
        top: 200px;
        left: 5%;
        background: #ffffff;
        box-shadow: 0 0 7px 3px  rgba(100, 192, 239, 0.368);
        -webkit-box-shadow: 0 0 7px 3px  rgba(37, 115, 134, 0.5);
        z-index: 2000;

    }

}

@media (max-width: 950px ) {

    .career{

        .right-panel {

            .btn-primary{

                font-size: 21px;
            }
        }
    }

}
@media (max-width: 768px ) {

    .career{

        .left-panel {

            article {
                padding: 10px 10px 65px 10px;

                .shadow-bottom {

                    margin: 0 0 0 -10px;
                }
            }
        }
        .right-panel {

            margin: 0 0 50px 0;
            position: relative;
            top: 20px;
            right: 0;

            > div {
                padding: 10px;
            }

            .btn-primary{

                font-size: 18px;
            }

        }
    }



}
@media (max-width: 480px ) {

    .career{

        .left-panel{

            article{

                .read-more {
                    width: 66%;
                    left: 17%;
                }
            }
        }
    }


}


