

.contact{
    margin: 238px auto 0 auto;

    h1{
        font-family: 'Raleway-Bold', sans-serif;
        font-size: 55px;
        text-align: center;
    }
    .contact-txt{
        padding:  11px 21% 55px 21%;;
        font-family: 'Raleway Light', sans-serif;
        font-size: 18.4px;
        text-align: center;
    }
    form{
        width: 79%;
        padding: 0 125px 0 0;
        margin: 0 auto;
    }
    label{
        //width: 95px;
        padding: 7px 8px 0 55px;
        font-size: 18px;
        font-family: 'Raleway-Bold', sans-serif;
        text-align: right;

    }
    label[for="contactform-subject"]{
        padding: 7px 8px 0 39px;
    }
    label[for="contactform-body"]{
        padding: 7px 8px 0 61px;
    }
    label[for="contactform-verifycode"] {
        padding: 7px 8px 0 0 ;
    }
    label[for="loginform-rememberme"],
    label[for="contactform-verifycode"]{
        font-family: 'Raleway-Regular', sans-serif;
        font-size: 14px;
    }
    label[for="loginform-rememberme"]{
        padding: 28px 8px 0 0;
    }
    input:not([type="checkbox"]){

        height: 40px;
        border-radius: 0;
        float: right;
    }
    textarea{
        width: 100%;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-radius: 0;
    }
    .margin-b{
        margin-bottom: 42px;
    }
    .box-login-btn{
        margin: -72px -15px 0 0;
    }
    .btn-login,
    .btn-submit{
        font-size: 26px;
        font-family: 'Raleway-Medium', sans-serif;
        background: #70c0e1;
        float: right;
        color: @color-white1;

        &:hover{
        background: rgba(112,192,225,0.80);
        }
    }
    .btn-login {
        padding: 2px 58px;
        margin: -45px 0 0 0;
    }
    .btn-submit{
        padding: 2px 18px;
    }
    .box-txt-form{
        padding: 12px 15px;
        font-family: 'Raleway-Regular', sans-serif;
        font-size: 16px;
    }
    .img-captcha{
        img{
            float: right;
        }
    }
    input[type="checkbox"] {
        width: 18px;
        height: 18px;
        margin: 30px 14px 0 0;
        float: left;
    }

}

#login-form{

    label{
        float: left;
    }
}
#contact-form {

    input,
    textarea{
        width: 83%;
        float: right;
    }
    p,
    .field-contactform-verifycode{
        padding: 0 0 0 17%;
    }

}
@media (max-width: 1200px ) {

    #contact-form{

        input,
        textarea{
            width: 80%;
        }
        label[for="contactform-verifycode"] {
            padding: 7px 8px 0 4% !important;
        }
    }


}
@media (max-width: 992px ) {

    #contact-form {
        width: 100%!important;
        padding: 0 75px 0 0!important;

    }
    #login-form{
        width: 90%;
        padding: 0 50px 0 0;

        .btn-login {
            margin: 27px 0 0 0;
        }

        input.form-control{
            width: 76%;
        }
        .field-loginform-rememberme{

            >div{
                padding: 0 0 0 55px;
            }
        }
    }
    input[type="checkbox"] {
        margin: 40px 14px 0 0;

    }

}

@media (max-width: 949px ) {

    .contact{
        margin: 205px 0 0 0;
    }
    #contact-form{
        width: 85%!important;
        padding: 0!important;
    }


}

@media (max-width: 768px ) {

    .contact {
        margin: 145px 0 0 0;

        .contact-txt {
            padding: 11px 15% 55px 15%;
        }

        form {
            width: 90%;
            margin: 0 auto;
            padding: 0 10% 0 0;

            .img-captcha {

                img {
                    float: left;
                }
            }
            .input-captcha {
                padding: 0 5px 0 14px;
            }
        }
    }

    #contact-form {
        width: 83% !important;
        margin: 0 0 0 2%;

        input,
        textarea {
            width: 73%;
        }
        label[for="contactform-verifycode"] {
            padding: 7px 8px 0 12% !important;
        }
    }

    #login-form{

        input.form-control {
                width: 70%;


        }
        .field-loginform-rememberme > div {
            padding: 0 0 0 36px;
        }

    }

}

@media (max-width: 600px ) {

    .contact{

        h1 {
            font-size: 40px;
        }
        form {
            padding: 0 5% 0 0;
        }
        .contact-txt {
            padding: 11px 11% 55px 11%
        }



        label:not([for="loginform-rememberme"]),
        label:not(label[for="contactform-verifycode"]) {
            width: 80px;
            margin: 0 0 0 -20px;
        }



    }
    #contact-form{

        label:not(label[for="contactform-verifycode"]){
            width: 100%;
            padding: 0 0 0 17%;
            text-align: left;
        }
        .img-captcha,
        .input-captcha{
            width: 49%!important;
            margin: 0!important;

        }
        .btn-box {
            width: 100% !important;
            //float: none;
            //margin: auto;

            .btn-submit{
                margin: 30px auto;
                display: block;
                float: none;
            }
        }
        label[for="contactform-subject"] {
            padding: 7px 8px 0 15px!important;
        }
        label:not([for="loginform-rememberme"]),
        label:not([for="contactform-verifycode"]) {
            padding: 7px 8px 0 32px;
        }
        label[for="contactform-body"] {
            padding: 7px 8px 0 37px!important;
        }
    }

    .chec-box{
        margin-left: 0!important;
    }
    .btn-box{
        float: right;
    }

}

@media (max-width: 480px ) {

    label{
        width: 100%!important;
        display: block;
        float: none!important;
        text-align: left!important;
    }

    .contact {
        margin: 75px 0 30px 0;

        .margin-b {
            margin-bottom: 0;
        }
    }
    #contact-form{
        margin: 0 auto;

        input,
        textarea {
            width: 100%!important;
            float: right;
        }
        label,
        .field-contactform-verifycode{
            padding: 0!important;
            text-align: left;
        }
        label[for="contactform-subject"] {
            padding: 0!important;
        }
        label[for="contactform-body"] {
            padding: 0!important;
        }
        label[for="contactform-verifycode"] {
            padding: 0!important;
        }
    }
    .box-email,
    .box-password,
    .chec-box,
    .btn-box,
    .box-name,
    .box-subject,
    .box-body,
    .box-txt-form{
        width: 100%!important;
        margin: 0;
    }

    .chec-box{
        margin: 0 0 30px 0;
    }
    .btn-box{
        float: right;

        .btn-login{
            margin: 20px auto;
            display: block;
            float: none!important;
        }

    }

}
