
@import "base.less";
@import "header-footer.less";
@import "home.less";
@import "contact-form.less";
@import "request-quote-modals.less";



html,
body{
    margin: 0;
    padding: 0;
    background: #ffffff;
}
a,
a:hover,
a:active,
a:focus,
button,
button:hover,
button:active,
button:focus{
    outline: 0;
}

a.active{
    cursor: default;
}
.page{

    margin: 120px auto 0 auto;
}
@media (max-width: 949px ) {

    .page{

        margin: 90px auto 0 auto;
    }
}
@media (max-width: 768px){

    .page{

        margin: 28px auto 0 auto;
    }

}














