#request-quote-modals{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.24);
    //display: none;
    z-index: 2000;

    .popup{
        width: 690px;
        min-height: 610px;
        padding: 48px 80px 50px 80px;
        position: fixed;
        left: 25%;
        left: ~"calc((100% - 690px)/2)";
        top: 50px;
        background: #ffffff;
        z-index: 200;
        //display: none;
        box-shadow: 0 0 7px 3px  rgba(100, 192, 239, 0.368);//rgba(37, 115, 134, 0.5)
        -webkit-box-shadow: 0 0 7px 3px  rgba(37, 115, 134, 0.5);
    }


    .close{
        width: 16px;
        height: 15px;
        position: absolute;
        top: 18px;
        right: 12px;
        background: url(../img/x.png) no-repeat;
        opacity: .5;
        filter: alpha(opacity=50);

        &:hover{

            opacity: 1;
            filter: alpha(opacity=1);
        }
    }
    .header-popap{
        padding: 0 0 28px 0;
        font-size: 30px;
        border-bottom: 1px solid #006eb4;
        line-height: 1.2;
        font-family: 'Raleway Light', sans-serif;
        color: #006eb4;
    }
    .body-popap{
        //height: 300px;
        margin: 30px -30px 43px -30px;
    }
    .step1,
    .step2,
    .step3,
    .step4,
    .step5,
    .step6{
        width: 100%;

        .question{
            padding: 0 0 25px 0;
            font-family: 'Raleway-SemiBold', sans-serif;
            font-size: 24px;
            text-align: center;
            color: @color-black;
        }
        .option-group:not(#foo) label,
        .dropdown-toggle,
        textarea,
        .file_upload,
        input{
            background: #ffffff;
            border: 1px solid #006eb4;
            border-radius: 0;
            font-size: 18px!important;
            font-family: 'Raleway-Regular', sans-serif;
            color: @color-black;
            cursor: pointer;

        }
        .dropdown-toggle{
            width: 100%;
            height: 56px;
            text-align: left;

            &:hover{
                background-color: #9fcae5;
                border: 1px solid #878787;
                color: @color-white1;

                .caret1{
                    color:  @color-white1;
                }
            }
        }
        .dropdown-menu,
        .file_upload{
            width: 100%;
        }
        .file_upload{
            height: 54px;
            padding: 12px 0;
            margin-top: 30px;
            text-align: center;
            color: #006eb4;

            &:hover {
                background-color: #9fcae5;
                border: 1px solid #878787;
                color: @color-white1;
            }

        }
        .caret1{
            float: right;
            margin: 0 10px 0 0;
            color:  #5f5f5f;
        }
        .margin-text{
            margin:  48px 0 0 0;
        }
        .option-group:not(#foo) input:checked + label,
        .dropdown-menu > li > a:focus,
        .dropdown-menu > li > a:hover{
            background-color: #006eb4;
            color: @color-white1;
        }
        textarea{
            width: 100%;
            padding: 6px 12px;
        }
        .option-group:not(#foo) input,
        input[type=file]{
            width: 0;
            height: 0;
            opacity: 0;
            filter: alpha(opacity=0);
        }


    }
    .step1,
    .step2{

        .option-group{
            width: 50%;
            float: left;
        }

        .option-group:not(#foo) label{
            width: 94%;
            margin: 8px 0;
        }

        .right-elem{
            text-align: right;
        }
    }
    .step1{

        .option-group:not(#foo) label{
            height: 83px;
            padding: 10px;
            line-height: 3.2;
            text-align: center;
        }
        .option-group:not(#foo) label[for='technical']{
            padding: 13px 10px 10px 10px;
            line-height: 1.5;
        }
    }
    .step2{
        .option-group:not(#foo) label{
            text-align: right;
        }
        .option-group:not(#foo) label {
            height: 62px;
            padding: 7px 10px 10px 10px;
            background: url('../img/check.png') transparent no-repeat;
            background-position: 22px 19px;
            line-height: 1.3;
        }
        .option-group:not(#foo) input:checked + label {
            background-position: 22px -45px;
        }
        .option-group:not(#foo) label[for='optimization'],
        .option-group:not(#foo) label[for='redesign']{
            line-height: 2.3;
        }
    }


    .step6{

        input{
            width: 100%;
            height: 52px;
            padding: 0 0 0 24px;
            margin: 0 0 17px 0;
        }
    }



    .footer-popap{

        .progress {
            height: 12px;
            margin-bottom: 40px;
            border-radius: 6px;
            background-color: #c1c0c0;

            .progress-bar {
                width: 0;
                border-radius: 6px;
                background-color: #006eb4;
            }
        }
        .back,
        .next,
        .quotes{

            &:hover,
            &:focus,
            &:active{
                outline: 0;
            }
        }
        .back{
            padding: 12px 12px 6px 12px;
            font-size: 18px;
            font-family: 'Raleway-Regular', sans-serif;
            color: #000000;
            display: none;

            &:hover{

                color: #F7660C;
            }
            &:hover,
            &:focus,
            &:active{
                text-decoration: none;

            }
        }
        .next,
        .quotes{
            width: 242px;
            height: 54px;
            background: rgba(247, 102, 12, 0.85);
            border: none;
            border-radius: 0;
            float: right;
            font-size: 23px;
            font-family: 'Raleway-SemiBold', sans-serif;
            color: #fffefe;

            &:hover{
                background: #F7660C;
            }
        }
        .quotes{
            display: none;
        }
    }
}