.section-header
  height: 1089px
  background: url("../assets/img/home-page/section-1/header.jpg") no-repeat
  background-attachment: fixed
  background-size: cover
  position: relative
  padding-top: 100px

  .header-title
    max-width: 1214px
    width: 100%
    text-align: center
    transition: opacity .2s linear
    @include desktop
      max-width: 84%
    .header-pic
      padding-top: 26px
    .header-desc
      padding-top: 70px
      font-family: "Roboto-Light", sans-serif
      font-size: 24px
      color: #fff
      font-weight: 500
      line-height: 46px


