#emailtesterform-body{

    height: 300px;
}
.horizontal{
    max-width: 600px;
}
.generate{
    margin-top: 23px;
}
.hour + td{
    width: 200px;
}
#report-table_filter{
    margin: -34px 0 34px 0;
}
#report-table_filter input{
    width: 200px;
    height: 33px;
}
#w0[action="/cp/user/invite"]{
    width: 500px;
}
@media screen and (max-width: 1200px) {
    #report-table_filter{
        margin: 24px 0 0 0;
    }
    .hour + td{
        width: 100px;
    }
}
@media screen and (max-width: 768px) {
    #report-table_filter{
        margin: 24px 0 0 0;
    }
    #w0{
        width: 100%;
    }
}