@font-face {
  font-family: 'Raleway Light';
  src: url('../fonts/Raleway-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway-Bold.ttf') format('truetype');
}
@media (max-width: 992px) {
  .col-sm-1 {
    width: 8.33333333%!important;
  }
  .col-sm-2 {
    width: 16.66666667%!important;
  }
  .col-sm-3 {
    width: 25%!important;
  }
  .col-sm-4 {
    width: 33.33333333%!important;
  }
  .col-sm-5 {
    width: 41.66666667%!important;
    float: left;
  }
  .col-sm-6 {
    width: 50%!important;
  }
  .col-sm-7 {
    width: 58.33333333%!important;
  }
  .col-sm-8 {
    width: 66.66666667% !important;
  }
  .col-sm-9 {
    width: 75%!important;
  }
  .col-sm-10 {
    width: 83.33333333%!important;
    float: left;
  }
  .col-sm-11 {
    width: 91.66666667%!important;
  }
  .col-sm-12 {
    width: 100%!important;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%!important;
  }
  .col-sm-offset-3 {
    margin-left: 25%!important;
  }
  .col-sm-offset-6 {
    margin-left: 50%!important;
  }
  .hidden-xs {
    display: block!important;
  }
  .visible-xs {
    display: none!important;
  }
}
@media (max-width: 768px) {
  .col-xs-1 {
    width: 8.33333333% !important;
  }
  .col-xs-2 {
    width: 16.66666667% !important;
  }
  .col-xs-3 {
    width: 25% !important;
  }
  .col-xs-4 {
    width: 33.33333333% !important;
  }
  .col-xs-5 {
    width: 41.66666667% !important;
  }
  .col-xs-6 {
    width: 50% !important;
  }
  .col-xs-7 {
    width: 58.33333333% !important;
  }
  .col-xs-8 {
    width: 66.66666667% !important;
  }
  .col-xs-9 {
    width: 75% !important;
  }
  .col-xs-10 {
    width: 83.33333333% !important;
  }
  .col-xs-11 {
    width: 91.66666667% !important;
  }
  .col-xs-12 {
    width: 100% !important;
  }
  .col-xs-offset-2 {
    margin-left: 16.66666667%!important;
  }
  .col-xs-offset-3 {
    margin-left: 25%!important;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333333%!important;
  }
  .hidden-xs {
    display: none!important;
  }
  .visible-xs {
    display: block!important;
  }
}
.navbar-brand {
  width: 100%;
  height: auto;
  max-width: 181px;
  max-height: 50px;
  padding: 0;
}
.navbar-brand:hover {
  filter: alpha(opacity=80);
  opacity: .8;
}
.box-header-menu {
  width: 100%;
  height: 156px;
  padding: 55px 0 0 0;
  background: #ffffff;
  border: none;
  border-radius: 0;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 8px rgba(100, 192, 239, 0.37);
  z-index: 1000;
}
.box-header-menu .navbar-toggle {
  border: none;
}
.box-header-menu .navbar-toggle span.icon-bar {
  width: 32px;
  margin: 9px 0;
  background-color: #70c0e1!important;
}
.box-header-menu .navbar-toggle:hover,
.box-header-menu .navbar-toggle:active,
.box-header-menu .navbar-toggle:focus,
.box-header-menu .navbar-toggle:visited {
  background-color: transparent;
}
.box-header-menu .navbar-toggle:hover span.icon-bar {
  background-color: #00a2d8;
}
.box-header-menu .navbar-toggle {
  margin: 0 79px 0 50px;
  float: left;
}
.box-header-menu .menu {
  padding: 8px 0 0 0;
}
.box-header-menu .menu a {
  padding: 6px 20px;
  margin-top: 1px;
  font-size: 23px;
  font-family: 'Raleway Light', sans-serif;
  text-transform: uppercase;
  color: #000000;
}
.box-header-menu .menu a:hover,
.box-header-menu .menu a:focus {
  text-decoration: none;
  color: #3da8da!important;
}
.box-header-menu .menu li.active a {
  box-shadow: none;
  -webkit-box-shadow: none;
  background: transparent!important;
  cursor: default;
  color: #3da8da!important;
  text-shadow: 0 0 4px rgba(1, 167, 219, 0.52);
}
.box-header-menu .navbar-collapse {
  margin: 0 300px 0 0;
}
.box-header-menu .top-right-icon {
  margin: -43px 0 0 0;
}
.box-header-menu .top-right-icon li {
  padding: 2px 16px;
  float: left;
  display: block;
}
.box-header-menu .top-right-icon li a {
  height: 32px;
  padding: 0;
}
.box-header-menu .top-right-icon li a:hover:before {
  filter: alpha(opacity=80);
  opacity: .8;
}
.box-header-menu .top-right-icon a:before {
  height: 32px;
  display: block;
  float: left;
  content: "";
}
.box-header-menu .top-right-icon a.ico-facebook:before {
  width: 16px;
  background: url(../img/icon.png) no-repeat 0 0;
}
.box-header-menu .top-right-icon a.ico-twitter:before {
  width: 40px;
  background: url(../img/icon.png) no-repeat -17px 0;
}
.box-header-menu .top-right-icon a.ico-in:before {
  width: 30px;
  background: url(../img/icon.png) no-repeat -59px 0;
}
.box-header-menu .top-right-icon a.ico-search:before {
  width: 35px;
  background: url(../img/icon.png) no-repeat -91px 0;
}
.box-header-menu .top-right-icon li:nth-child(3) {
  padding: 2px 36px 0 16px;
}
.box-header-menu .top-right-icon li:last-child {
  padding: 2px 16px 0 35px;
  border-left: 1px solid #bababa;
}
.fix-height {
  height: 78px;
  padding: 13px 0 0 0;
}
footer {
  height: 66px;
  padding: 18px 28px 0 0;
}
footer .footer-txt {
  font-size: 14px;
  font-family: 'Raleway Light', sans-serif;
  text-align: center;
  color: #008ee9;
}
footer .link {
  padding: 0;
  text-align: right;
}
footer .link a {
  font-size: 12.33px;
  font-family: 'Raleway Light', sans-serif;
  text-decoration: underline;
  color: #000000;
}
footer .link a:hover {
  color: #008ee9;
}
@media (max-width: 1200px) {
  nav > .container {
    width: 98%!important;
    position: relative;
  }
  .box-header-menu .menu a {
    padding: 6px 18px;
  }
}
@media (max-width: 1096px) {
  .box-header-menu .menu {
    padding: 8px 5px 0 0;
  }
  .box-header-menu .menu a {
    padding: 6px 7px;
  }
  .box-header-menu .navbar-collapse {
    margin: 0 240px 0 0;
  }
  .box-header-menu .top-right-icon li {
    padding: 2px 10px;
    float: left;
    display: block;
  }
  .box-header-menu .top-right-icon li:last-child {
    padding: 2px 10px 0 20px;
    border-left: 1px solid #bababa;
  }
}
@media (max-width: 992px) {
  .box-header-menu .menu a {
    font-size: 22px;
  }
}
@media (max-width: 949px) {
  .box-header-menu {
    height: 126px;
    padding: 0;
    margin: 0;
  }
  .box-header-menu nav > .container {
    width: 100% !important;
  }
  .box-header-menu .navbar-collapse {
    width: 360px;
    height: 145px;
    position: absolute;
    top: 126px;
    left: -9px;
    border: 0;
    overflow: hidden;
  }
  .box-header-menu .navbar-brand {
    margin: 34px 0 0 0;
  }
  .box-header-menu .navbar-toggle {
    height: 127px;
    margin: 0 64px 0 32px;
  }
  .box-header-menu .navbar-toggle[aria-expanded="true"] {
    height: 127px;
    padding: 0 53px 0 53px;
    margin: 0 19px 0 -9px;
    background: #84c9e9;
    border-radius: 0;
  }
  .box-header-menu .navbar-toggle[aria-expanded="true"] span.icon-bar {
    background-color: #ffffff!important;
  }
  .box-header-menu .top-right-icon {
    margin: -83px 0 0 0;
    float: right;
  }
  .box-header-menu .menu {
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    box-shadow: none;
    z-index: 1000;
    overflow: hidden;
  }
  .box-header-menu .menu li {
    width: 100%;
    height: 47px;
    border-right: 1px solid #6FACD0;
    border-bottom: 1px solid #ffffff;
  }
  .box-header-menu .menu li.active a {
    background: #54b0e2!important;
    color: #ffffff !important;
  }
  .box-header-menu .menu li:last-of-type {
    border-bottom: 1px solid #6FACD0;
  }
  .box-header-menu .menu a {
    width: 100%;
    height: 46px;
    padding: 0 20px;
    margin: 0!important;
    line-height: 2;
    display: block;
    border-radius: 0;
    float: left;
    text-align: center;
    background: #84c9e9;
    color: #ffffff !important;
  }
  .box-header-menu .menu a:hover {
    background: #8ac6e0!important;
    color: #0D657C!important;
  }
  .fix-height {
    height: 63px;
  }
  .fix-height .navbar-toggle {
    height: 63px;
  }
  .fix-height .navbar-toggle[aria-expanded="true"] {
    height: 63px;
  }
  .fix-height .navbar-brand {
    margin: 6px 0 0 0;
  }
  .fix-height .top-right-icon {
    margin: -50px 0 0 0;
  }
  .fix-height .navbar-collapse {
    top: 63px;
  }
  footer .link {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .box-header-menu {
    height: 64px;
    padding: 0;
  }
  .box-header-menu .navbar-collapse {
    height: 110px;
    top: 64px;
  }
  .box-header-menu .navbar-brand,
  .box-header-menu .top-right-icon {
    transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
  }
  .box-header-menu .navbar-brand {
    margin: 7px 0 0 -44px;
  }
  .box-header-menu .navbar-toggle {
    height: 64px;
    padding: 0 20px 0 22px;
    margin: 0 7px 0 -7px;
  }
  .box-header-menu .navbar-toggle span.icon-bar {
    width: 18px;
    height: 1px;
    margin: 5px 0;
  }
  .box-header-menu .navbar-toggle[aria-expanded="true"] {
    height: 64px;
    padding: 0 20px 0 22px;
    margin: 0 7px 0 -7px;
  }
  .box-header-menu .top-right-icon {
    margin: -50px -30px 0 0;
  }
  .box-header-menu .top-right-icon li {
    padding: 2px 8px;
  }
  .box-header-menu .top-right-icon li a {
    padding: 0 2px;
  }
  .box-header-menu .menu {
    width: 100%;
    display: block;
  }
  .box-header-menu .menu li {
    height: 36px;
  }
  .box-header-menu .menu a {
    height: 35px;
    font-size: 19px;
    line-height: 1.8;
    text-align: center;
  }
  .fix-height {
    height: 32px;
    min-height: 32px;
  }
  .fix-height .navbar-toggle {
    height: 32px;
    padding: 0 20px 0 22px;
    margin: 0 7px 0 -7px;
  }
  .fix-height .navbar-toggle[aria-expanded="true"] {
    height: 32px;
  }
  .fix-height .navbar-brand {
    height: 32px;
    margin: -5px 0 0 -44px;
  }
  .fix-height .top-right-icon {
    margin: -31px -30px 0 0;
  }
  .fix-height .navbar-collapse {
    top: 32px;
  }
}
@media (max-width: 480px) {
  nav > .container {
    width: 100%!important;
  }
  nav > .container .navbar-collapse {
    width: 100%;
    left: 0;
  }
}
#about_skynix {
  width: 100%;
  height: 573px;
  position: relative;
  z-index: 200;
  text-align: center;
}
#about_skynix h1,
#about_skynix .about-txt2 {
  text-shadow: 0 0 6px #2F7284;
}
#about_skynix h1 {
  padding: 152px 0 7px 0;
  font-size: 60px;
  font-family: Raleway-Medium, sans-serif;
  text-align: center;
  color: #ffffff;
}
#about_skynix .about-txt1,
#about_skynix .about-txt1-en {
  line-height: 1.1;
  font-family: Raleway-Regular, sans-serif;
  text-align: center;
  color: #000000;
  text-shadow: 0 0 6px #3B8FA5;
}
#about_skynix .about-txt1 span,
#about_skynix .about-txt1-en span {
  white-space: nowrap;
}
#about_skynix .about-txt1 {
  padding: 0 80px;
  font-size: 28px;
}
#about_skynix .about-txt1-en {
  padding: 0 60px;
  font-size: 24px;
}
#about_skynix .about-txt2 {
  padding: 19px 0 0 0;
  font-size: 24.66px;
  font-family: Raleway-SemiBold, sans-serif;
  text-align: center;
  color: #ffffff;
}
#working_fields {
  font-size: 23px;
  line-height: 1;
  text-align: center;
  font-family: Raleway-Medium, sans-serif;
}
#working_fields h2 {
  font-size: 30px;
  font-family: 'Raleway-Regular', sans-serif;
}
#working_fields .web-network div,
#working_fields .hi div,
#working_fields .phonegap div,
#working_fields .ecommerce div,
#working_fields .email div,
#working_fields .support div {
  width: 295px;
  height: 295px;
  display: table-cell;
  vertical-align: bottom;
}
#working_fields .web-network div:before,
#working_fields .hi div:before,
#working_fields .phonegap div:before,
#working_fields .ecommerce div:before,
#working_fields .email div:before,
#working_fields .support div:before {
  margin: 51px auto 16px auto;
  display: block;
  content: "";
  transform: scale(0.82, 0.82);
  -webkit-transform: scale(0.82, 0.82);
  -ms-transform: scale(0.82, 0.82);
  -o-transform: scale(0.82, 0.82);
  -webkit-transition: -webkit-transform 1s linear;
  -ms-transition: -ms-transform 1s linear;
  -o-transition: -o-transform 1s linear;
  transition: transform 1s linear;
}
@media (min-width: 600px) {
  #working_fields .web-network:hover div:before,
  #working_fields .hi:hover div:before,
  #working_fields .phonegap:hover div:before,
  #working_fields .ecommerce:hover div:before,
  #working_fields .email:hover div:before,
  #working_fields .support:hover div:before {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transition: -webkit-transform 1s linear;
    -ms-transition: -ms-transform 1s linear;
    -o-transition: -o-transform 1s linear;
    transition: transform 1s linear;
  }
}
#working_fields .web-network div:before {
  width: 220px;
  height: 164px;
  background: url(../img/web-network.jpg) no-repeat 0 0;
}
#working_fields .hi div:before {
  width: 220px;
  height: 164px;
  background: url(../img/hi.jpg) no-repeat 0 0;
}
#working_fields .phonegap div:before {
  width: 220px;
  height: 168px;
  background: url(../img/phonegap.jpg) no-repeat 0 0;
}
#working_fields .ecommerce div:before {
  width: 220px;
  height: 170px;
  background: url(../img/ecommerce.jpg) no-repeat 0 0;
}
#working_fields .email div:before {
  width: 262px;
  height: 129px;
  background: url(../img/email.jpg) no-repeat 0 0;
}
#working_fields .support div:before {
  width: 220px;
  height: 166px;
  background: url(../img/support.jpg) no-repeat 0 0;
}
#technology {
  padding-top: 43px;
  text-align: center;
}
#technology h3 {
  font-size: 28px;
  font-family: 'Raleway Light', sans-serif;
}
#technology .brand-name {
  color: #64a2cb;
}
#technology .technology-txt {
  padding: 24px 15px 0 15px;
  font-size: 21px;
  font-family: 'Raleway Light', sans-serif;
}
#technology .scheme {
  padding: 53px 0 0 0;
}
#technology .backend,
#technology .frontend {
  width: 340px;
  padding: 47px 0 42px 0;
  font-size: 24px;
  font-family: 'Raleway-SemiBold', sans-serif;
  color: #6c9ed5;
}
#technology .backend strong,
#technology .frontend strong {
  color: #000000;
}
#technology .backend ul,
#technology .frontend ul {
  list-style: none;
  padding: 33px 0 0 0;
}
#technology .backend {
  text-align: right;
  float: left;
}
#technology .frontend {
  text-align: left;
  float: right;
}
#technology .arrow-box {
  position: absolute;
  top: 0;
  left: 380px;
  right: 380px;
  display: block;
}
#technology .arrow-box .arrow-left,
#technology .arrow-box .arrow-right {
  width: 42%;
  height: 196px;
  position: absolute;
  top: 0;
  border-bottom: 3px dotted #6e9acc;
}
#technology .arrow-box .arrow-left .dot,
#technology .arrow-box .arrow-right .dot {
  width: 0;
  height: 0;
  position: absolute;
  top: -2px;
  border: 4px solid #6e9acc;
  border-radius: 4px;
}
#technology .arrow-box .arrow-left .angle,
#technology .arrow-box .arrow-right .angle {
  width: 14px;
  height: 14px;
  border-bottom: 3px solid #6e9acc;
  border-right: 3px solid #6e9acc;
  position: absolute;
  bottom: -8px;
}
#technology .arrow-box .arrow-left {
  left: 0;
  border-right: 3px dotted #6e9acc;
}
#technology .arrow-box .arrow-left .dot {
  right: -5px;
}
#technology .arrow-box .arrow-left .angle {
  left: -1px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
#technology .arrow-box .arrow-right {
  border-left: 3px dotted #6e9acc;
  right: 0;
}
#technology .arrow-box .arrow-right .dot {
  left: -5px;
}
#technology .arrow-box .arrow-right .angle {
  right: -1px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
#evaluation {
  height: 134px;
  padding-top: 34px;
  border-top: 1px solid #df4720;
  border-bottom: 1px solid #df4720;
  background: url(../img/bg-evaluation.png) repeat;
}
#evaluation .box-evaluation {
  max-width: 1170px;
  margin: 0 auto;
}
#evaluation .box-evaluation .evaluation-txt {
  padding: 0;
}
#evaluation .box-evaluation .evaluation-txt p {
  padding: 3px 0 0 0;
  font-size: 32px;
  font-family: Raleway-Medium;
  white-space: nowrap;
  color: #fefefe;
}
#evaluation a {
  width: 435px;
  padding: 9px 35px 10px 35px;
  border: 2px solid #000000;
  display: block;
  font-size: 24px;
  font-family: Raleway-Bold, sans-serif;
  text-align: center;
  color: #000000;
}
#evaluation a:hover,
#evaluation a:active {
  text-decoration: none;
}
#evaluation a:hover {
  background: rgba(255, 104, 21, 0.51);
}
#evaluation a.en-btn {
  width: 300px;
  text-decoration: none;
}
#evaluation a.en-btn:hover {
  text-decoration: none;
}
@media (min-width: 950px) {
  #about_skynix {
    background: url(../img/bg-top-desktop.jpg) no-repeat;
  }
}
@media (max-width: 950px) and (min-width: 480px) {
  #about_skynix {
    background: url(../img/bg-top-tablet.jpg) no-repeat;
  }
}
@media (max-width: 1200px) {
  #evaluation {
    height: 202px;
    padding-top: 28px;
    text-align: center;
  }
  #evaluation .box-evaluation .evaluation-txt p {
    white-space: normal;
  }
  #evaluation a,
  #evaluation a.en-btn {
    margin: 22px auto 0 auto;
  }
}
@media (max-width: 992px) {
  #technology {
    width: 100%;
  }
}
@media (max-width: 949px) {
  #about_skynix h1 {
    padding: 142px 0 11px 0;
  }
  #about_skynix .about-txt2 {
    padding: 14px 0 0 0;
  }
}
@media (max-width: 880px) {
  #about_skynix .about-txt1,
  #about_skynix .about-txt1-en {
    padding: 0 30px;
  }
  #technology .backend,
  #technology .frontend {
    width: 220px;
  }
  #technology .arrow-box {
    left: 260px;
    right: 260px;
  }
  #technology .arrow-box .arrow-left,
  #technology .arrow-box .arrow-right {
    height: 303px;
  }
  #evaluation a.en-btn {
    margin: 13px auto 0 auto;
  }
}
@media (max-width: 768px) {
  #about_skynix h1 {
    padding: 112px 0 11px 0;
  }
  #about_skynix .about-txt1-en {
    padding: 0 10px;
  }
  #evaluation .box-evaluation .evaluation-txt p {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  #about_skynix h1 {
    padding: 128px 0 11px 0;
    font-size: 45px;
  }
  #about_skynix h1.en {
    padding: 110px 0 11px 0;
  }
  #about_skynix .about-txt1,
  #about_skynix .about-txt1-en {
    font-size: 24px;
  }
  #about_skynix .about-txt2 {
    font-size: 20px;
  }
  #working_fields h2 {
    font-size: 23px;
  }
  #working_fields .web-network,
  #working_fields .hi,
  #working_fields .phonegap,
  #working_fields .ecommerce,
  #working_fields .email,
  #working_fields .support {
    width: 100%!important;
  }
  #working_fields .web-network div,
  #working_fields .hi div,
  #working_fields .phonegap div,
  #working_fields .ecommerce div,
  #working_fields .email div,
  #working_fields .support div {
    width: 275px;
    height: auto;
    margin: auto;
    display: block;
  }
  #working_fields .web-network div:before,
  #working_fields .hi div:before,
  #working_fields .phonegap div:before,
  #working_fields .ecommerce div:before,
  #working_fields .email div:before,
  #working_fields .support div:before {
    margin: 46px auto 28px auto;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
  #technology .backend,
  #technology .frontend {
    width: 100%;
    text-align: center;
  }
  #technology .arrow-box {
    display: none!important;
  }
  #evaluation {
    height: 193px;
    padding-top: 16px;
  }
  #evaluation .box-evaluation > div {
    padding: 0;
  }
  #evaluation .box-evaluation .evaluation-txt p {
    padding: 0 15px;
  }
  #evaluation a,
  #evaluation a.en-btn {
    width: 300px;
    padding: 5px;
    font-size: 17.6px;
  }
}
@media (max-width: 480px) {
  #about_skynix {
    background: url(../img/bg-top-mobile.jpg) no-repeat;
  }
  #about_skynix {
    height: 324px;
  }
  #about_skynix h1 {
    padding: 15px 0 4px 0;
    margin: 16px 0 10px 0;
    font-size: 40px;
  }
  #about_skynix h1.en {
    padding: 0;
    font-size: 33px;
  }
  #about_skynix .about-txt1,
  #about_skynix .about-txt1-en {
    padding: 0;
  }
  #about_skynix .about-txt1 {
    font-size: 18.8px;
  }
  #about_skynix .about-txt1-en {
    font-size: 15px;
  }
  #about_skynix .about-txt2 {
    font-size: 16.6px;
  }
  #evaluation a,
  #evaluation a.en-btn {
    width: 265px;
  }
}
.contact,
.login {
  padding: 118px 15px 0 15px;
}
.contact .contact-txt,
.login .contact-txt {
  padding: 11px 21% 55px 21%;
  font-family: 'Raleway Light', sans-serif;
  font-size: 18.4px;
  text-align: center;
}
.contact form,
.login form {
  width: 79%;
  padding: 0 125px 0 0;
  margin: 0 auto;
}
.contact label,
.login label {
  padding: 7px 8px 0 55px;
  font-size: 18px;
  font-family: 'Raleway-Bold', sans-serif;
  text-align: right;
}
.contact label[for="contactform-subject"],
.login label[for="contactform-subject"] {
  padding: 7px 8px 0 39px;
}
.contact label[for="contactform-body"],
.login label[for="contactform-body"] {
  padding: 7px 8px 0 61px;
}
.contact label[for="contactform-verifycode"],
.login label[for="contactform-verifycode"] {
  padding: 7px 8px 0 0 ;
}
.contact label[for="loginform-rememberme"],
.login label[for="loginform-rememberme"],
.contact label[for="contactform-verifycode"],
.login label[for="contactform-verifycode"] {
  font-family: 'Raleway-Regular', sans-serif;
  font-size: 14px;
}
.contact label[for="loginform-rememberme"],
.login label[for="loginform-rememberme"] {
  padding: 28px 8px 0 0;
}
.contact input:not([type="checkbox"]),
.login input:not([type="checkbox"]) {
  height: 40px;
  border-radius: 0;
  float: right;
}
.contact textarea,
.login textarea {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 0;
}
.contact .margin-b,
.login .margin-b {
  margin-bottom: 42px;
}
.contact .box-login-btn,
.login .box-login-btn {
  margin: -72px -15px 0 0;
}
.contact .btn-login,
.login .btn-login,
.contact .btn-submit,
.login .btn-submit {
  font-size: 26px;
  font-family: 'Raleway-Medium', sans-serif;
  background: #70c0e1;
  float: right;
  color: #ffffff;
}
.contact .btn-login:hover,
.login .btn-login:hover,
.contact .btn-submit:hover,
.login .btn-submit:hover {
  background: rgba(112, 192, 225, 0.8);
}
.contact .btn-login,
.login .btn-login {
  width: 200px;
  padding: 2px 58px;
  margin: -45px 0 0 0;
}
.contact .btn-submit,
.login .btn-submit {
  width: 181px;
  padding: 2px 18px;
}
.contact .box-txt-form,
.login .box-txt-form {
  padding: 12px 15px;
  font-family: 'Raleway-Regular', sans-serif;
  font-size: 16px;
}
.contact .img-captcha img,
.login .img-captcha img {
  float: right;
}
.contact input[type="checkbox"],
.login input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 30px 14px 0 0;
  float: left;
}
#login-form label {
  float: left;
}
#contact-form input,
#contact-form textarea {
  width: 83%;
  float: right;
}
#contact-form .help-block-error,
#contact-form .field-contactform-verifycode {
  padding: 0 0 0 17%;
}
@media (max-width: 1200px) {
  #contact-form input,
  #contact-form textarea {
    width: 80%;
  }
  #contact-form label[for="contactform-verifycode"] {
    padding: 7px 8px 0 4%;
  }
  #contact-form .help-block-error {
    padding: 0 0 0 20%;
  }
}
@media (max-width: 992px) {
  #contact-form {
    width: 100%;
    padding: 0 75px 0 0;
  }
  #login-form {
    width: 88%;
    padding: 0 100px 0 0;
  }
  #login-form .btn-login {
    margin: -35px 0 0 0;
  }
  #login-form input.form-control {
    width: 100%;
  }
  #login-form input[type="checkbox"] {
    margin: 37px 14px 0 0;
  }
  #login-form label.control-label {
    padding: 7px 0 0 0;
  }
  #login-form label[for="loginform-rememberme"] {
    padding: 36px 8px 0 0;
  }
}
@media (max-width: 949px) {
  #contact-form {
    width: 85%;
    padding: 0;
  }
  #login-form .box-login-btn {
    margin: -48px -15px 0 0;
  }
  #login-form .box-login-btn .btn-login {
    margin: -33px 0 0 0;
  }
}
@media (max-width: 768px) {
  .contact .contact-txt,
  .login .contact-txt {
    padding: 11px 15% 55px 15%;
  }
  .contact form,
  .login form {
    width: 90%;
    margin: 0 auto;
    padding: 0 10% 0 0;
  }
  .contact form .img-captcha img,
  .login form .img-captcha img {
    float: left;
  }
  .contact form .input-captcha,
  .login form .input-captcha {
    padding: 0 5px 0 14px;
  }
  #contact-form {
    width: 83%;
    margin: 0 0 0 2%;
  }
  #contact-form input,
  #contact-form textarea {
    width: 73%;
  }
  #contact-form label[for="contactform-verifycode"] {
    padding: 7px 8px 0 12%;
  }
  #contact-form .help-block-error {
    padding: 0 0 0 27%;
  }
  #login-form {
    width: 84%;
    padding: 0 40px 0 0;
  }
  #login-form .field-loginform-rememberme > div {
    margin-left: 15%!important;
  }
}
@media (max-width: 600px) {
  .contact form,
  .login form {
    padding: 0 5% 0 0;
  }
  .contact .contact-txt,
  .login .contact-txt {
    padding: 11px 11% 55px 11%;
  }
  .contact label,
  .login label {
    width: 80px;
  }
  #contact-form label {
    padding: 0 0 0 17%;
    text-align: left;
  }
  #contact-form .img-captcha,
  #contact-form .input-captcha {
    width: 49%!important;
  }
  #contact-form .btn-box {
    width: 100% !important;
  }
  #contact-form .btn-box .btn-submit {
    margin: 30px auto;
    display: block;
    float: none;
  }
  #contact-form label {
    padding: 7px 8px 0 32px;
  }
  #contact-form label[for="contactform-subject"] {
    padding: 7px 8px 0 15px;
  }
  #contact-form label[for="contactform-body"] {
    padding: 7px 8px 0 37px;
  }
  #contact-form label[for="contactform-verifycode"] {
    width: 100%;
  }
  #login-form {
    padding: 0;
  }
  #login-form input.form-control {
    width: 95%;
  }
  #login-form .box-login-btn {
    margin: 0;
  }
  #login-form .box-login-btn .btn-login {
    margin: 30px auto;
    display: block;
    float: none;
  }
  #login-form .help-block-error {
    padding: 0 0 0 6%;
  }
  #login-form input[type="checkbox"] {
    margin: 37px 14px 0 17px;
  }
  #login-form .field-loginform-rememberme > div {
    margin-left: 25%!important;
  }
  #login-form label[for="loginform-rememberme"] {
    width: 150px;
    text-align: left;
  }
}
@media (max-width: 480px) {
  .contact,
  .login {
    padding: 60px 0 30px 0;
  }
  .contact .margin-b,
  .login .margin-b {
    margin-bottom: 0;
  }
  .contact label,
  .login label {
    display: block;
    float: none!important;
    text-align: left!important;
  }
  #contact-form {
    margin: 0 auto;
  }
  #contact-form input,
  #contact-form textarea {
    width: 100%;
    float: right;
  }
  #contact-form label,
  #contact-form .field-contactform-verifycode {
    padding: 0!important;
    text-align: left;
  }
  #contact-form .help-block-error {
    padding: 0;
  }
  #login-form .form-group {
    margin-bottom: 0;
  }
  #login-form .field-loginform-email > div,
  #login-form .field-loginform-password > div,
  #login-form .field-loginform-rememberme > div {
    width: 100%!important;
    float: left;
    margin-left: 0!important;
  }
  #login-form .help-block-error {
    padding: 0;
  }
  #login-form label.control-label {
    padding: 7px 0 0 15px;
  }
  #login-form input.form-control {
    width: 100%;
  }
  #login-form input[type="checkbox"] {
    margin: 37px 14px 0 0;
  }
}
#request-quote-modals {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 2000;
}
#request-quote-modals .masks-back {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.24);
}
#request-quote-modals .front-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20000;
}
#request-quote-modals .front-mask:before {
  width: 64px;
  height: 64px;
  margin: auto;
  position: relative;
  top: 35%;
  content: "";
  background: url(../img/ajax-loader100_2.gif) no-repeat 0 0;
  display: block;
}
#request-quote-modals .popup {
  width: 690px;
  padding: 48px 80px 50px 80px;
  position: absolute;
  left: 25%;
  left: calc((100% - 690px)/2);
  top: 50px;
  background: #ffffff;
  z-index: 200;
  display: none;
  box-shadow: 0 0 7px 3px rgba(100, 192, 239, 0.368);
  -webkit-box-shadow: 0 0 7px 3px rgba(37, 115, 134, 0.5);
}
#request-quote-modals .popup .answer-ajax {
  height: 350px;
  display: none;
  vertical-align: middle;
  font-size: 30px;
  text-align: center;
  font-family: 'Raleway Light', sans-serif;
}
#request-quote-modals .popup .answer-ajax,
#request-quote-modals .popup .message {
  color: #468849;
}
#request-quote-modals .popup .answer-ajax-error {
  color: #961917;
}
#request-quote-modals .popup .message,
#request-quote-modals .popup .answer-ajax-error {
  height: 15px;
}
#request-quote-modals .close {
  width: 16px;
  height: 15px;
  position: absolute;
  top: 18px;
  right: 12px;
  background: url(../img/x.png) no-repeat;
  opacity: .5;
  filter: alpha(opacity=50);
}
#request-quote-modals .close:hover {
  opacity: 1;
  filter: alpha(opacity=1);
}
#request-quote-modals .header-popap {
  padding: 0 0 28px 0;
  font-size: 30px;
  border-bottom: 1px solid #006eb4;
  line-height: 1.2;
  font-family: 'Raleway Light', sans-serif;
  color: #006eb4;
}
#request-quote-modals .body-popap {
  margin: 30px -30px 43px -30px;
}
#request-quote-modals .step {
  width: 100%;
  /*.caret1{
            position: absolute;
            top: 15px;
            right: 10px;
            //float: right;
            //margin: 0 10px 0 0;
            color:  #5f5f5f;
        }*/
}
#request-quote-modals .step .question {
  padding: 0 0 25px 0;
  font-family: 'Raleway-SemiBold', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #000000;
}
#request-quote-modals .step .option-group:not(#foo) label,
#request-quote-modals .step .dropdown-toggle,
#request-quote-modals .step textarea,
#request-quote-modals .step .file_upload,
#request-quote-modals .step input {
  background: #ffffff;
  border: 1px solid #006eb4;
  border-radius: 0;
  font-size: 18px!important;
  font-family: 'Raleway-Regular', sans-serif;
  color: #000000;
  cursor: pointer;
}
#request-quote-modals .step .dropdown-toggle {
  width: 100%;
  height: 56px;
  position: relative;
  text-align: left;
  /*&:hover{
                background-color: #9fcae5;
                border: 1px solid #878787;
                color: @color-white1;

                .caret1{
                    color:  @color-white1;
                }
            }*/
}
#request-quote-modals .step .file_upload {
  width: 100%;
}
#request-quote-modals .step .file_upload {
  height: 54px;
  padding: 12px 0;
  margin-top: 30px;
  text-align: center;
  color: #006eb4;
}
#request-quote-modals .step .file_upload:hover {
  background-color: #9fcae5;
  border: 1px solid #878787;
  color: #ffffff;
}
#request-quote-modals .step .margin-text {
  margin: 48px 0 0 0;
}
#request-quote-modals .step .option-group:not(#foo) input:checked + label,
#request-quote-modals .step option:hover {
  background-color: #006eb4;
  color: #ffffff;
}
#request-quote-modals .step textarea {
  width: 100%;
  padding: 6px 12px;
}
#request-quote-modals .step .option-group:not(#foo) input,
#request-quote-modals .step input[type=file] {
  width: 0;
  height: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
}
#request-quote-modals .step1 .option-group,
#request-quote-modals .step2 .option-group {
  width: 50%;
  float: left;
}
#request-quote-modals .step1 .option-group:not(#foo) label,
#request-quote-modals .step2 .option-group:not(#foo) label {
  width: 94%;
  margin: 8px 0;
}
#request-quote-modals .step1 .right-elem,
#request-quote-modals .step2 .right-elem {
  text-align: right;
}
#request-quote-modals .step1 .option-group:not(#foo) label {
  height: 83px;
  padding: 10px;
  line-height: 3.2;
  text-align: center;
}
#request-quote-modals .step1 .option-group:not(#foo) label[for='technical'] {
  padding: 13px 10px 10px 10px;
  line-height: 1.5;
}
#request-quote-modals .step2 .option-group:not(#foo) label {
  text-align: right;
}
#request-quote-modals .step2 .option-group:not(#foo) label {
  height: 62px;
  padding: 7px 10px 10px 10px;
  line-height: 1.3;
}
#request-quote-modals .step2 .option-group:not(#foo) input:checked + label {
  background: url('../img/check.png') transparent no-repeat;
  background-position: 22px -45px;
  background-color: #006eb4;
}
#request-quote-modals .step2 .option-group:not(#foo) label[for='optimization'],
#request-quote-modals .step2 .option-group:not(#foo) label[for='redesign'] {
  line-height: 2.3;
}
#request-quote-modals .step6 input {
  width: 100%;
  height: 52px;
  padding: 0 0 0 24px;
  margin: 0 0 17px 0;
}
#request-quote-modals .footer-popap .progress {
  height: 12px;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: #c1c0c0;
}
#request-quote-modals .footer-popap .progress .progress-bar {
  width: 0;
  border-radius: 6px;
  background-color: #006eb4;
}
#request-quote-modals .footer-popap .back:hover,
#request-quote-modals .footer-popap .next:hover,
#request-quote-modals .footer-popap .quotes:hover,
#request-quote-modals .footer-popap .back:focus,
#request-quote-modals .footer-popap .next:focus,
#request-quote-modals .footer-popap .quotes:focus,
#request-quote-modals .footer-popap .back:active,
#request-quote-modals .footer-popap .next:active,
#request-quote-modals .footer-popap .quotes:active {
  outline: 0;
}
#request-quote-modals .footer-popap .back {
  padding: 12px 12px 6px 12px;
  font-size: 18px;
  font-family: 'Raleway-Regular', sans-serif;
  color: #000000;
  display: none;
}
#request-quote-modals .footer-popap .back:hover {
  color: #F7660C;
}
#request-quote-modals .footer-popap .back:hover,
#request-quote-modals .footer-popap .back:focus,
#request-quote-modals .footer-popap .back:active {
  text-decoration: none;
}
#request-quote-modals .footer-popap .quotes {
  display: none;
}
#request-quote-modals .next,
#request-quote-modals .quotes,
#request-quote-modals .close-popap {
  width: 242px;
  height: 54px;
  color: #fffefe;
}
#request-quote-modals .close-popap {
  margin: 15px auto!important;
  float: none;
  opacity: 1;
  filter: alpha(opacity=100);
  position: initial;
}
@media (max-width: 768px) {
  #request-quote-modals {
    position: absolute;
  }
  #request-quote-modals .popup {
    width: 90%;
    padding: 30px 20px 25px 20px;
    left: 5%;
  }
  #request-quote-modals .header-popap {
    font-size: 25px;
  }
  #request-quote-modals .step .question {
    padding: 0 0 10px 0;
    font-size: 18px;
  }
  #request-quote-modals .step .margin-text {
    margin: 20px 0 0 0;
  }
  #request-quote-modals .step .right-elem {
    text-align: left;
  }
  #request-quote-modals .step .option-group,
  #request-quote-modals .step label {
    width: 100%!important;
  }
  #request-quote-modals .step .option-group:not(#foo) label {
    height: 50px;
    line-height: 1.45;
  }
  #request-quote-modals .step2 .option-group:not(#foo) input:checked + label {
    background-position: 22px -51px;
  }
  #request-quote-modals .next,
  #request-quote-modals .quotes,
  #request-quote-modals .close-popap {
    width: 100%;
    height: 45px;
  }
}
@media (max-width: 480px) {
  #request-quote-modals .popup {
    top: 20px;
  }
  #request-quote-modals .header-popap {
    padding: 0 0 10px 0;
    font-size: 20px;
  }
  #request-quote-modals .body-popap {
    margin: 15px -30px 20px -30px;
  }
  #request-quote-modals .step .option-group:not(#foo) label,
  #request-quote-modals .step textarea,
  #request-quote-modals .step .file_upload,
  #request-quote-modals .step input {
    line-height: 2.2;
    font-size: 15px !important;
  }
  #request-quote-modals .step .dropdown-toggle {
    height: 40px;
    line-height: 2;
    font-size: 15px !important;
  }
  #request-quote-modals .step .option-group:not(#foo) label {
    height: 45px;
    margin: 3px 0;
    line-height: 1.5;
  }
  #request-quote-modals .step .caret1 {
    top: 5px;
  }
  #request-quote-modals .step textarea {
    height: 150px;
    line-height: 1.5;
  }
  #request-quote-modals .step .file_upload {
    height: 40px;
    padding: 4px 0;
    margin-top: 10px;
  }
  #request-quote-modals .step2 .option-group:not(#foo) input:checked + label {
    background-position: 11px -51px;
  }
  #request-quote-modals .step2 .option-group:not(#foo) label[for="code_adjustments"],
  #request-quote-modals .step2 .option-group:not(#foo) label[for="module_plugin"] {
    padding: 1px 10px;
    line-height: 1.4;
  }
  #request-quote-modals .step2 .option-group:not(#foo) label[for="code_adjustments"] .hidden-xs,
  #request-quote-modals .step2 .option-group:not(#foo) label[for="module_plugin"] .hidden-xs {
    display: block!important;
  }
  #request-quote-modals .step2 .option-group:not(#foo) label[for="code_adjustments"] .visible-xs,
  #request-quote-modals .step2 .option-group:not(#foo) label[for="module_plugin"] .visible-xs {
    display: none!important;
  }
  #request-quote-modals .step6 input {
    height: 40px;
    padding: 0 0 0 15px;
    margin: 0 0 10px 0;
  }
  #request-quote-modals .next,
  #request-quote-modals .quotes,
  #request-quote-modals .close-popap {
    padding: 6px;
    font-size: 14px;
  }
  #request-quote-modals .footer-popap .back {
    padding: 11px 6px 11px 0;
    font-size: 14px;
  }
}
.career h2 {
  margin: 6px 0 0 0;
  padding: 22px 0 0 0;
  border-top: 1px solid #b7d4ee;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #9fcae5;
}
.career h3 {
  margin: 20px 0 37px 0;
  font-size: 17px;
  font-family: 'Raleway-Bold', sans-serif;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  position: relative;
}
.career p {
  font-family: 'Raleway-Regular', sans-serif;
  font-size: 16px;
  color: #000000;
}
.career .apply {
  width: 100%;
  color: #000000;
}
.career .right-panel,
.career .left-panel {
  margin: 21px 0 0 0;
}
.career .right-panel > div,
.career .left-panel > div {
  padding: 15px 27px;
}
.career .right-panel > div,
.career .left-panel > div,
.career .right-panel article,
.career .left-panel article {
  margin: 12px 0;
  border: 1px solid #b7d4ee;
}
.career .right-panel ul,
.career .left-panel ul {
  padding: 0 0 0 18px;
}
.career .right-panel li,
.career .left-panel li {
  font-size: 16px;
  font-family: 'Raleway-Regular', sans-serif;
  color: #000000;
}
.career .left-panel {
  position: relative;
}
.career .left-panel article {
  height: 225px;
  padding: 15px  27px 65px  27px;
  position: relative;
  overflow: hidden;
}
.career .left-panel article .read-more,
.career .left-panel article .shadow-bottom {
  display: block;
}
.career .left-panel article .read-more {
  width: 50%;
  left: 25%;
  border: 1px solid #F7660C;
  border-radius: 0;
  background: #ffffff;
  position: absolute;
  bottom: 10px;
  font-family: 'Raleway-Medium', sans-serif;
  font-size: 20px;
  color: #F7660C;
  z-index: 100;
}
.career .left-panel article .read-more:hover {
  background: #fffaf6;
}
.career .left-panel article .read-more:active {
  webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.125);
}
.career .left-panel article .shadow-bottom {
  width: 100%;
  height: 61px;
  margin: 0 0 0 -27px;
  position: absolute;
  bottom: 0;
  z-index: 90;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), white);
  background-image: -webkit-linear-gradient(to, rgba(255, 255, 255, 0.6), white);
}
.career .left-panel article.show-text {
  height: 100%;
  padding: 15px 27px;
}
.career .left-panel article.show-text .read-more,
.career .left-panel article.show-text .shadow-bottom {
  display: none;
}
@media (max-width: 950px) {
  .career .right-panel .btn-primary {
    font-size: 21px;
  }
}
@media (max-width: 768px) {
  .career .left-panel article {
    padding: 10px 10px 65px 10px;
  }
  .career .left-panel article .shadow-bottom {
    margin: 0 0 0 -10px;
  }
  .career .right-panel {
    margin: 0 0 50px 0;
    position: relative;
    top: 20px;
    right: 0;
  }
  .career .right-panel > div {
    padding: 10px;
  }
  .career .right-panel .btn-primary {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .career .left-panel article .read-more {
    width: 66%;
    left: 17%;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}
h1 {
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 55px;
  text-align: center;
}
a,
a:hover,
a:active,
a:focus,
button,
button:hover,
button:active,
button:focus,
input input:hover,
input:active,
input:focus,
textarea,
textarea:hover,
textarea:active,
textarea:focus {
  outline: 0!important;
}
a.active {
  cursor: default;
}
.page {
  margin: 157px auto 0 auto;
}
.btn-primary {
  background: rgba(247, 102, 12, 0.85);
  border: none;
  border-radius: 0;
  float: right;
  font-size: 23px;
  font-family: 'Raleway-SemiBold', sans-serif;
}
.btn-primary:hover,
.btn-primary:focus {
  background: #F7660C!important;
}
.fix-height .page {
  margin: 78px auto 0 auto;
}
@media (max-width: 949px) {
  .page {
    margin: 127px auto 0 auto;
  }
  .fix-height .page {
    margin: 63px auto 0 auto;
  }
}
@media (max-width: 768px) {
  .page {
    margin: 65px auto 0 auto;
  }
  .fix-height .page {
    margin: 32px auto 0 auto;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  #about_skynix {
    margin: 64px 0 0 0;
  }
}
