.enhancement
  height: 48%
  .item-list
    width: 80%
    height: 70%
  .item
    width: 25%
    .item-img
      height: 33.9%
      .item-pic
        top: inherit
        bottom: 0
        transform: translate(-50%,0)
    .item-title
      height: 13%
      .item-text
        top: inherit
        bottom: -4px
        transform: translate(-50%,0px)
        font-family: "Roboto-Light"
        font-size: 20px
        color: #000
    .desc-wrap
      height: 20%
      .item-desc
        top: 7px
        width: 59%
        .item-text
          font-family: "Roboto-Light"
          font-size: 14px
          line-height: 17px
          color: #000
          span
            display: none
    .item-link
      text-decoration: none
      color: #61c9f3
      font-family: "Roboto Regular"
      font-size: 12px
      line-height: 18px
