<div class="container panel-fixed">

  <div class="header__top-panel">
    <div class="top-panel__logo">
      <img src="../backend/assets/img/header/logo-skynix.png" alt="Skynix" class="logo">
      <div class="logo-desc">Skynix</div>
    </div>
    <div class="top-panel__menu">
      <ul class="nav-menu__list">
        <li class="nav-menu__item">
          {{#link-to 'services' class="nav__link"}}
            Services
          {{/link-to}}
        </li>
        <li class="nav-menu__item">
          {{#link-to 'people' class="nav__link"}}
            People
          {{/link-to}}
        </li>
        <li class="nav-menu__item">
          {{#link-to 'blog' class="nav__link"}}
            Blog
          {{/link-to}}
        </li>
        <li class="nav-menu__item">
          {{#link-to 'contacts' class="nav__link"}}
            Contacts
          {{/link-to}}
        </li>
      </ul>
      <ul class="nav-social__list">
        <li class="nav-social__item">
          <a href="https://www.facebook.com/skynix.solutions/" class="nav-social__link">
            <img src="../backend/assets/img/header/fb.png" alt="facebook" class="link-img">
          </a>
        </li>
        <li class="nav-social__item">
          <a href="https://twitter.com/skynixukraine" class="nav-social__link">
            <img src="../backend/assets/img/header/Twitter.png" alt="twitter" class="link-img">
          </a>
        </li>
        <li class="nav-social__item">
          <a href="https://www.linkedin.com/company/skynix" class="nav-social__link">
            <img src="../backend/assets/img/header/in.png" alt="in" class="link-img">
          </a>
        </li>
        <li class="nav-social__item">
          <a href="https://www.linkedin.com/company/skynix" class="nav-social__link">
            <img src="../backend/assets/img/header/Instagram.png" alt="instagram" class="link-img">
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>

{{outlet}}