<section class="section-1">
  <div class="content-center section-1__title">
    <img src="{{model.slides.img}}" alt="" class="section-1__pic">
    <h2 class="section-1__desc">{{model.slides.description}}</h2>
  </div>
</section>
<!--<section class="section-2">-->

    <!--{{!software-solution-component class="content-center"}}-->


<!--</section>-->