<div class="container">
  <div class="header">
    <div class="header__content">
      <img src="../backend/assets/img/header/Logo.png" alt="Skynix" class="content-logo">
      <p class="content-title">
        Skynix Ukraine is a software development company founded by the technical experts
        in the IT field with the ultimate customer satisfaction and innovative approach in mind.
      </p>
    </div>
  </div>
  <section class="section-1">
    <div class="center-content">
      <div class="container-content">
        <h2 class="section-1__title"> Every software solution Skynix builds is:
        </h2>
        <div class="software-block">
          <div class="software-block__items">
            <img src="../backend/assets/img/home-page/section-1/software-icon-1.png" alt="" class="software-block__img">
            <h2 class="software-block__title">SEO</h2>
            <ul class="software-block__list">
              <li class="software-block__item">Our code always corresponds to the requirements of search engines.</li>
              <li class="software-block__item">You will not need additional services to hone the code for the search
                bots.
              </li>
              <li class="software-block__item">We do not use the techniques of “black” and “grey” SEO.</li>
            </ul>
          </div>
          <div class="software-block__items">
            <img src="../backend/assets/img/home-page/section-1/software-icon-2.png" alt="" class="software-block__img">
            <h2 class="software-block__title">Fast</h2>
            <ul class="software-block__list">
              <li class="software-block__item">Under 3 seconds loading time</li>
              <li class="software-block__item">Smart browser caching</li>
            </ul>
          </div>
          <div class="software-block__items">
            <img src="../backend/assets/img/home-page/section-1/software-icon-3.png" alt="" class="software-block__img">
            <h2 class="software-block__title">Responsive UI / UX</h2>
            <ul class="software-block__list">
              <li class="software-block__item">Adaptation to every possible display size, from as little as 320px</li>
              <li class="software-block__item">Cross-browser Compatibility</li>
              <li class="software-block__item">Look equally advantageous on any device</li>
              <li class="software-block__item">Look equally advantageous on any device</li>
            </ul>
          </div>
          <div class="software-block__items">
            <img src="../backend/assets/img/home-page/section-1/software-icon-4.png" alt="" class="software-block__img">
            <h2 class="software-block__title">Warrantied and Supported </h2>
            <ul class="software-block__list">
              <li class="software-block__item">Standardized 6 months warranty on every solution we build.</li>
              <li class="software-block__item">Free support and timely communication as a part of every after-sales
                package.
              </li>
              <li class="software-block__item">When the warranty period is over we will still be there to help you.</li>
            </ul>
          </div>
          <div class="software-block__items">
            <img src="../backend/assets/img/home-page/section-1/software-icon-5.png" alt="" class="software-block__img">
            <h2 class="software-block__title">Cost-effective</h2>
            <ul class="software-block__list">
              <li class="software-block__item">We’re from the 4th country in the world by a number of certified IT
                specialists.
              </li>
              <li class="software-block__item">Ukrainian competence is proven globally.</li>
              <li class="software-block__item">We benefit from the world’s most intensive education system,</li>
              <li class="software-block__item">while low costs of living allow us to keep our operation prices at their
                lowest.
              </li>
            </ul>
          </div>
          <div class="software-block__items">
            <img src="../backend/assets/img/home-page/section-1/software-icon-6.png" alt="" class="software-block__img">
            <h2 class="software-block__title">Made With Passion</h2>
            <ul class="software-block__list">
              <li class="software-block__item">Individual approach to each client</li>
              <li class="software-block__item">Aiming at excellent results</li>
              <li class="software-block__item">The essence of innovation and experience</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-2">

  </section>
</div>